body {
  background-color: #B8BEC3;
  display: inline-flex;
  margin: 0;
  height: 100%;
  overflow: hidden;
  font-family: Helvetica;
}
.sidebar{
  margin: 0;
  height: 100vh;
  width: 30vw;
}
.title{
  display: inline-flex;
  margin: 0;
  width: 30vw;
  position: absolute;
  top: 25%;
  left: 0%;
  opacity: 0.5;
  background-color: #B8BEC3;
  text-align: center;
  justify-content: center;
  line-height: 0;
}
.form{
  background-color: #E8EDF0;
  width: 70vw;
}
.name{
  margin: 2% 0 0 3%;
  color: #3B3C45;
}
.login, .login:visited{
  color:#68BEC8;
  text-decoration: none;
}
.login:hover{
  text-decoration: underline;
  cursor: pointer;
}
.line{
  border: 0;
  height: 3px;
  background-image: linear-gradient(to right, #B3A742 , #E8EDF0);
}
