body {
  background-color: #B8BEC3;
  display: inline-flex;
  margin: 0;
  height: 100%;
  font-family: Helvetica, sans-serif;
}
.sidebar{
  margin: 0;
  height: 100vh;
  width: 30vw;
}
.logoTitle{
  font-family: Roboto, Helvetica , sans-serif;
}
.title{
  display: inline-flex;
  margin: 0;
  width: 30vw;
  position: absolute;
  top: 25%;
  left: 0%;
  opacity: 0.5;
  background-color: #B8BEC3;
  text-align: center;
  justify-content: center;
  line-height: 0;
}
.form{
  animation: show 0.5s forwards;
  background-color: #E8EDF0;
  height: 100vh;
  width: 69vw;
}
.name{
  margin: 2% 0 0 3%;
  color: #3B3C45;
}
.login, .login:visited{
  color:#68BEC8;
  text-decoration: none;
}
.login:hover{
  text-decoration: underline;
  cursor: pointer;
}
.line{
  margin: 0 0 2% 0;
  border: 0;
  height: 3px;
  background-image: linear-gradient(to right, #B3A742 , #E8EDF0);
}
.entry{
  display: block;
  width: 15vw;
  margin: 1% 0 0 0;
}
.contain{
  display: inline-flex;
  margin-bottom: 3%;
}
.form input:not(:focus){
  animation: sizeReduce 0.5s reverse;
  height: 2vh
}
.form input:focus{
  animation: sizeIncrease 0.5s normal;
}
.form input:valid:focus{
  border-color: #50FF50;
}
.form input:invalid:focus{
  border-color: #FF5050;
}
.form input{
  outline: none;
  border: 2px solid black;
  border-radius: 7px;
  width: 9.3vw;
  height: 4vh;
}
.form label{
  font-weight: bolder;
}
.btn{
  margin-top: 1%;
  display: block;
}
.btn button{
  border-radius: 7px;
  height: 4vh;
  width: 10vw;
  background-color: #FFF;
  color: #68BEC8;
  border: 2px solid #B3A742;
  font-weight: bolder;
}
.btn button:hover{
  background-color: #B3A742;
  color: #FFF;
  border-color: #68BEC8;
}
#warning{
  margin: -3% 0 4% 23%;
  color:  #FF5050;
  visibility: hidden;
}
@keyframes sizeIncrease {
  0% {
    height: 2vh
  }
  100% {
    height: 4vh
  }
}
@keyframes sizeReduce {
  0% {
    height: 2vh
  }
  100% {
    height: 4vh
  }
}
@keyframes show {
    0% {
      opacity: 0;
    }
    99% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}
